h2 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}

label {
  font-weight: bold;
}

#tweet-text {
  background-color: #ffe1a8;
  border: none;
  border-bottom: 5px solid black;
  width: 100%;
  padding: 5px;
  height: 2em;
  outline: none;
}

#tweet-under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee, sans-serif;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

button {
  background-color: #4056A1;
  color: white;
  padding: 0.3em;
  border-style: none;
}
